/* ----------- 用户说列表页样式 ----------*/
#case_content {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    zoom: 1;
}
.say_list {
    padding: 19px 39px 19px 19px;
    margin-top: 30px;
    height: 350px;
    overflow: hidden;
}
.C_box .C_B_left {
    width: 560px;
    position: relative;
    float: left;
}
.C_box .C_B_left a {
    font-size: 0;
    line-height: 0;
}
.C_box .C_B_left .C_B_logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.C_box .C_B_left .C_B_logo img{
    width: 70px;
    height: 70px;
}
.C_box .C_B_right {
    width: 530px;
    height: 350px;
    position: relative;
    float: right;
}
.C_B_right h3 {
    font-size: 1.67rem;
    line-height: 2rem;
    margin-top: 20px;
    font-weight: normal;
}
.C_tags {
    color: #fff;
    line-height: 1.833rem;
    overflow: auto;
    zoom: 1;
    margin-top: 15px;
}
.C_B_right .C_tags li {
    float: left;
    background: #56626a;
    border-radius: 3px;
    margin-right: 12px;
    padding: 0 6px;
}
.C_B_right .C_info {
    color: #aaa;
    margin-top: 20px;
}
.C_B_right .C_user_say {
    line-height: 2.333rem;
    margin-top: 20px;
    font-weight: normal;
}
.say_list .view_btn {
    position: absolute;
    bottom: 0;
}
.view_btn {
    display: block;
    width: 150px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #f28000;
    border-radius: 4px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f39529), to(#f28000));
    background-color: #f28000;
}
.page_list {
    padding: 30px 30px 60px;
}
.page_list .pagination {
    overflow: auto;
    zoom: 1;
}
.page-bottom {
    float: left;
}
.pagination .C_current {
    float: left;
    height: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    border: none;
    padding: 0 12px;
    font-weight: bold;
    color: #f28000;
}
.pagination a {
    float: left;
    height: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    padding: 0 12px;
    border: solid 1px #ccc;
    background-color: #fff;
}

/* ----------- 用户说距离案例页样式 ---------- */
#specific_case {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    zoom: 1;
}
.s_c_header {
    height: 180px;
    overflow: hidden;
}
.s_c_header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 35px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.s_c_header .C_tags {
    line-height: 22px;
    color: #fff;
    overflow: auto;
    zoom: 1;
    margin-top: 15px;
}
.s_c_header .C_tags li {
    float: left;
    background: #56626a;
    border-radius: 3px;
    margin-right: 12px;
    padding: 0 6px;
}
.s_c_header p {
    margin-top: 15px;
    font-size: 1.333rem;
}
.s_slider {
    width: 1200px;
    height: 550px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}
.s_pic {
    width: 1200px;
    height: 550px;
    overflow: hidden;
    position: relative;
}
.s_pic > ul {
    width: 1200px;
    height: 480px;
    position: relative;
}
.s_pic > ul li {
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
}
.s_pic > ul li img {
    display: block;
    width: 100%;
    height: 480px;
}
.s_num {
    overflow: hidden;
    height: 12px;
    position: absolute;
    bottom: 43px;
    left: 600px;
    margin-left: -30px;
    zoom: 1;
    z-index: 3;
}
.s_num ul li {
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999em;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    background: #a6acb0;
}
.s_num ul li.s_on {
    background: #f28000;
}
.introduction {
    position: absolute;
    top: 0;
    right: 30px;
    width: 350px;
    height: 450px;
    background: rgba(255,255,255,0.95);
    z-index: 999;
    border-radius: 0 0 10px 10px;
}
.introduction .i_wrap {
    padding: 40px 30px 30px;
    height: 380px;
}
.i_wrap .i_logo {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -ms-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.i_wrap .i_txt {
    margin-top: 35px;
    width: 290px;
    height: 247px;
    overflow: auto;
    font-size: 1.333rem;
    line-height: 2.667rem;
    text-indent: 2.667rem;
}
.s_main {
    overflow: auto;
    zoom: 1;
}
.m_left {
    float: left;
    width: 900px;
}
.m_right {
    float: right;
    width: 280px;
}
.m_wrap {
    position: relative;
}
.m_con {
    padding: 49px 49px 49px 199px;
    width: 650px;
    overflow: hidden;
}
.m_con img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.m_ico {
    position: absolute;
    top: 49px;
    left: 49px;
    width: 100px;
    height: 96px;
}
.m_say {
    padding: 39px 29px;
}
.m_say .m_photo {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}
.m_say .m_saytxt {
    margin-top: 20px;
    line-height: 2.333rem;
}
.m_saytxt dt {
    font-size: 1.4rem;
    margin-bottom: 10px;
}